/* Dark mode */

/* Panel/body settings */

body {
  background-color: #000;
  color: #fff;
}

#vsep, #hsep {
  background: #272727;
}

#script-panel {
  background-color: #000;
}

a, a:link, a:visited, a:active {
  color: #abc;
}

a:hover {
  color: #5af;
}

#toolsbar {
  border-bottom: 1px solid #272727;
}

/* Code settings */
/*.CodeMirror-gutters { background-color: #000; }*/
/*.CodeMirror-scroll { background-color: #000; }*/

/*.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background-color: #000; }*/

/*.CodeMirror { color: #fff; }*/

.cm-s-blackboard.CodeMirror {
    background: #0f0f0f; color: #defdef;
}

.cm-s-blackboard .CodeMirror-gutters {
    background: #555; border-right: 2px solid #314151;
}

.coq-eval-ok {
  background: #483D8B;
}

.coq-eval-pending {
  background: #fc6;
}

.coq-eval-failed {
  background: #aa0000;
}

/* Gallina keywords */
.cm-s-blackboard .cm-keyword {
  color: darkgoldenrod; font-weight: bold;
}

.cm-s-blackboard .cm-number {
  color: violet;
}

/* Vernaculars */
.cm-s-blackboard .cm-builtin {
  color: #30aabc;
}

.cm-s-blackboard .cm-comment {
  color: #7a7b7c; font-style: italic;
}

.cm-s-blackboard .cm-variable {
  color: #abcdef;
}

.cm-s-blackboard .cm-operator {
  color: #ff0;
}

/* Tactics */
.cm-tactic {
  color: #9370DB;
}

.cm-terminator {
  color: #FF0000;
}

/*  */
.cm-statementend {
  /* background: #6C64FE; */
}

.cm-bullet,
.cm-brace{
  /*
  background: bisque;
  color: black;
  */
}



/*
.cm-s-abcdef.CodeMirror { background: #0f0f0f; color: #defdef; }
.cm-s-abcdef div.CodeMirror-selected { background: #515151; }
.cm-s-abcdef .CodeMirror-line::selection, .cm-s-abcdef .CodeMirror-line > span::selection, .cm-s-abcdef .CodeMirror-line > span > span::selection { background: rgba(56, 56, 56, 0.99); }
.cm-s-abcdef .CodeMirror-line::-moz-selection, .cm-s-abcdef .CodeMirror-line > span::-moz-selection, .cm-s-abcdef .CodeMirror-line > span > span::-moz-selection { background: rgba(56, 56, 56, 0.99); }
.cm-s-abcdef .CodeMirror-gutters { background: #555; border-right: 2px solid #314151; }
.cm-s-abcdef .CodeMirror-guttermarker { color: #222; }
.cm-s-abcdef .CodeMirror-guttermarker-subtle { color: azure; }
.cm-s-abcdef .CodeMirror-linenumber { color: #FFFFFF; }
.cm-s-abcdef .CodeMirror-cursor { border-left: 1px solid #00FF00; }

.cm-s-abcdef .cm-keyword { color: darkgoldenrod; font-weight: bold; }
.cm-s-abcdef .cm-atom { color: #77F; }
.cm-s-abcdef .cm-number { color: violet; }
.cm-s-abcdef .cm-def { color: #fffabc; }
.cm-s-abcdef .cm-variable { color: #abcdef; }
.cm-s-abcdef .cm-variable-2 { color: #cacbcc; }
.cm-s-abcdef .cm-variable-3 { color: #def; }
.cm-s-abcdef .cm-property { color: #fedcba; }
.cm-s-abcdef .cm-operator { color: #ff0; }
.cm-s-abcdef .cm-comment { color: #7a7b7c; font-style: italic;}
.cm-s-abcdef .cm-string { color: #2b4; }
.cm-s-abcdef .cm-meta { color: #C9F; }
.cm-s-abcdef .cm-qualifier { color: #FFF700; }
.cm-s-abcdef .cm-builtin { color: #30aabc; }
.cm-s-abcdef .cm-bracket { color: #8a8a8a; }
.cm-s-abcdef .cm-tag { color: #FFDD44; }
.cm-s-abcdef .cm-attribute { color: #DDFF00; }
.cm-s-abcdef .cm-error { color: #FF0000; }
.cm-s-abcdef .cm-header { color: aquamarine; font-weight: bold; }
.cm-s-abcdef .cm-link { color: blueviolet; }

.cm-s-abcdef .CodeMirror-activeline-background { background: #314151; }
*/
